inputs
*.\~
src/Mercury
*.err
*.mh
*.o
*.c_date
*.c
*.d
/t/
/src/test_day1
/src/test_day2
/src/test_day3
/src/test_day4
/src/test_day6
/src/test_day7
/src/test_day8
/src/test_int_utils
/src/test_list_utils
/src/test_array2d_utils
/src/*.date
/src/*.int
/src/*.int2
*.so
/lua/a.out
